# Change this file name to config
# put this file in .newsboat folder.

# set w3m as default browser
browser "w3m %u"

player          "mpv"
download-path   "~/downloads/%n"
save-path       "~/downloads"


# -- feeds ---------------------------------------------------------------------

auto-reload yes
reload-time 120
reload-threads 4
download-retries 4
download-timeout 10
prepopulate-query-feeds yes

#-------- macros {{{
#------------------------------------------------------
# hit ,p to play a video with mpv
macro p set browser "mpv --ytdl --ontop --no-border --force-window --autofit=500x280 --geometry=-20-50 %u > /dev/null &"; open-in-browser ; set browser "$BROWSER %u"

#Alternatif. This one plays videos ona after another with task-spooler but couldnt install task-spoler
#macro p set browser "tsp mpv %u" ; open-in-browser-and-mark-read ; set browser "w3m %u"


# }}}
