# ----------------------------------------------------------------------
# file:    ~/.newsboat/config
# author:  moparx     - http://moparx.com/configs
# date:    05/08/2013 - 18:12 EDT
# vim: set ai et fenc=utf-8 ft=conf nu si sts=0 sw=4 ts=8 tw=0 : 
# ----------------------------------------------------------------------

auto-reload yes
browser firefox
cleanup-on-quit yes
download-path "~/Podcasts/%n"

#feed-sort-order desc
feed-sort-order title-dec
max-downloads 4
notify-always yes
notify-format "newsbeuter: %n unread articles within %f unread feeds"
notify-program notify-send
notify-xterm yes
notify-screen yes
player mplayer
refresh-on-startup yes
reload-time 20
reload-threads 2
#show-read-articles no
show-read-feeds no


# binds ----------------------------------------------------------------

unbind-key t
unbind-key R
bind-key \ reload-all
bind-key "RIGHT" select-tag
bind-key "SPACE" open


# hide articles matching: ---------------------------------------------

ignore-article "*" "title =~ \"Sponsor\""
ignore-article "*" "title =~ \"Advertisement\""
ignore-mode "display"


# {{{ formatting and colorization ------------------------------------------

articlelist-format "%4i %f %D  %?T?|%-17T| ?%t"

highlight feedlist    "^  *[0-9]+  *N  "                    color156 default
highlight articlelist "^  *[0-9]+  *N  "                    color156 default

highlight article     "(^Feed:.*|^Title:.*|^Author:.*)"     color75  default
highlight article     "(^Link:.*|^Date:.*)"                 color75  default
highlight article     "^Podcast Download URL:.*"            color71  default
highlight article     "^Links:"                             white    color240 underline
highlight article     "\\[[0-9][0-9]*\\]"                   color72  default  bold
highlight article     "\\[image [0-9][0-9]*\\]"		        color72  default  bold
highlight article     "\\[embedded flash: [0-9][0-9]*\\]"   color72  default  bold
highlight article     ":.*\\(link\\)$"                      color74  default
highlight article     ":.*\\(image\\)$"                     color74  default
highlight article     ":.*\\(embedded flash\\)$"            color74	 default

color listnormal                                            white    default
color listfocus                                             default  color240
color info                                                  default  color240

# }}}

#-------- macros {{{
#------------------------------------------------------
# Note: macro prefix key ( default: , )

#=======Open-link-with-w3m=============================
# open in cli web browser
# w3m: https://www.youtube.com/watch?v=Z22cFTB-uqg
# tmux: https://www.youtube.com/watch?v=ZNM1KfqpyGo
# macro o set browser "$BROWSERCLI %u"; open-in-browser ; set browser "$BROWSER %u"
macro o set browser "tmux split-window && tmux send-keys '$BROWSERCLI %u && tmux kill-pane\n'"; open-in-browser ; set browser "$BROWSER %u"

#========reddit-comments===============================
# read reddit comments with rtv (reddit terminal viewer)
# rtv: https://www.youtube.com/watch?v=jc2ZVSof5-g
# macro r set browser "rtv -l %u"; open-in-browser ; set browser "$BROWSER %u"
macro r set browser "tmux split-window && tmux send-keys 'rtv -l %u && tmux kill-pane\n'"; open-in-browser ; set browser "$BROWSER %u"

#======Video-Play========================================
# add video or audio to play queue using mpv (requires: task-spooler, mpv, youtube-dl)
# task-spooler: https://www.youtube.com/watch?v=wv8D8wT20ZY
# youtube-dl: https://www.youtube.com/watch?v=MFxlwVhwayg
#macro p set browser "tsp mpv --ontop --no-border --force-window --autofit=500x280 --geometry=-15-10 %u"; open-in-browser ; set browser "$BROWSER %u"
# hit ,p to play video
macro p set browser "tsp mpv --ytdl-format=18 $1 --ontop --no-border --force-window --autofit=800x580 --geometry=-15-10 %u"; open-in-browser ; set browser "$BROWSER %u"

#=======================================================
# copy url to clipboard "yank"
# xclip: https://www.youtube.com/watch?v=fKP0FLp3uW0
macro y set browser "echo -n %u | xclip -selection clipboard"; open-in-browser ; set browser "$BROWSER %u"

#======================================================
# read saved files
# ranger: https://www.youtube.com/watch?v=qooLR8NmYKs
# w3m context url: https://www.youtube.com/watch?v=C7YPjbrTeCs
macro s set browser "tmux split-window && tmux send-keys 'ranger /home/xalil/.newsbeuter/saved_articles/ && tmux kill-pane\n'" ; open-in-browser ; set browser "$BROWSER %u"

# }}}

#urlview ayarlari
external-url-viewer "urlview"
bind-key U show-urls
